.cabecalho {
    background-color: black;
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(7, 80, 144);
    padding: 100px;
}

.section2 {
    background-color: rgb(7, 81, 146);
    padding: 100px;
}

.section2-imagem{
    width: 20%;
} 

