.cabecalho {
    background-color: black;
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(15, 63, 105);
    padding: 100px;
}

.section2 {
    background-color: rgb(15, 67, 113);
    padding: 100px;
}

.section2-imagem{
    width: 20%;
} 